.anchorjs-link {
	color: inherit !important;
	text-decoration: none !important;
}

@media (max-width: 768px) {
	.anchorjs-link {
		display: none;
	}

	.gril {
		display: none;
	}

	.gh-forkme {
		display: none;
	}

	.footer-fixed {
		position: relative !important;
		float: right;
	}
}

*:hover > .anchorjs-link {
	opacity: .75;
	transition: color .16s linear;
}

*:hover > .anchorjs-link:hover,
.anchorjs-link:focus {
	text-decoration: none !important;
	opacity: 1;
}

.gril {
	position: fixed;
	bottom: 0px;
	right: 0px;
	max-width: 300px;
}

.footer-fixed {
	position: fixed;
	bottom: 0px;
}

.gh-forkme {
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
}
