<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="#rice list o' resources">
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/simplex/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">

		<title>#rice list o' resources</title>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<!-- HEADER -->
					<div class="page-header">
						<h1>#rice list o' resources<br><small>Ricing resources for Linux, Mac and Windows.</small></h1>
					</div>

					<!-- MAIN CONTENT -->
					<div>
						{% block content %}
							{{ content|raw }}
						{% endblock %}
					</div>

				</div>
			</div>
		</div>

		<!-- FOOTER  -->
		<div class="container-fluid">
			<footer class="footer-fixed">
				<p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
			</footer>
		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.2.1/anchor.min.js"></script>
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

		<script type="text/javascript">
			(function () {
				'use strict';
				anchors.options.placement = 'right';
				anchors.add('h1');
			})();

			function osFilter(os) {
				excludes = [];
				switch(os) {
					case "Linux": excludes = ["Windows", "OSX"];
						break;
					case "Windows": excludes = ["Linux", "OSX"];
						break;
					case "OSX": excludes = ["Windows", "Linux"];
						break;
					default: break;
				}

				for (var i = 0; i < excludes.length; i++) {
					// Hide the header and the element right after the header(ul)
					$( "h4:contains(" + excludes[i] + ")" ).hide();
					$( "h4:contains(" + excludes[i] + ")" ).next().hide();
				}

				//Show the desired os heading and element after it(ul):
				$( "h4:contains(" + os + ")" ).show();
				$( "h4:contains(" + os + ")" ).next().show();
			}
		</script>
	</body>
</html>
