<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="#rice list o' resources">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">

		<title>#rice list o' resources</title>
	</head>

	<body>

		<div class="container">
			<!-- HEADER -->
			<div class="page-header">
				<h1>#rice list o' resources <small>Ricing resources for Linux, Mac and Windows.</small></h1>
			</div>

			<!-- MAIN CONTENT -->
			<div>
				{% block content %}
					{{ content|raw }}
				{% endblock %}
			</div>

			<!-- FOOTER  -->
			<div>
				<footer>
					<p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
				</footer>
			</div>
		</div>
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/1.2.1/anchor.min.js"></script>
		
		<script type="text/javascript">
			(function () {
				'use strict';
				anchors.options.placement = 'right';
				anchors.add('h3');
			})();
		</script>

	</body>
</html>
